{% extends "blog/base.htm"%}

{% block content %}
    {% if posts %}
        {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}"><strong>{{ post.author }}</strong></a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                {% if post.content|length >= 255 %}
                <p class="article-content">{{ post.content|slice:":255" }} ... <a href="{% url 'post-detail' post.id %}"> Read more</a></p>
                {% else %}
                <p class="article-content">{{ post.content}}</p>
                {% endif %}
            </div>
            <strong class="text-secondary"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.number_of_likes }} <i class="fa fa-thumbs-up" aria-hidden="true"></i></a></strong>&nbsp;&nbsp;
            <strong class="text-secondary"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.number_of_comments }} <i class="fa fa-commenting" aria-hidden="true"></i></a></strong>
        </article>
        {% endfor %}
    {% else %}
        <h2>No match found!</h2>
    {% endif %}
{% endblock content %}
